Module-3/Answer-Evaluation/__pycache__/evaluator.cpython-313.pyc
Module-3/Answer-Evaluation/__pycache__/main.cpython-313.pyc
Module-3/Answer-Evaluation/__pycache__/router.cpython-313.pyc
Module-3/Metrics/__pycache__/pipeline_client.cpython-313.pyc
Module-3/Metrics/LLM_as_judge/__pycache__/judge.cpython-313.pyc
Module-3/Metrics/LLM_as_judge/__pycache__/main.cpython-313.pyc
Module-3/Metrics/LLM_as_judge/__pycache__/models.cpython-313.pyc
Module-3/Metrics/LLM_as_judge/__pycache__/router.cpython-313.pyc
Module-3/Metrics/Similarity/__pycache__/answer_generator.cpython-313.pyc
Module-3/Metrics/Similarity/__pycache__/similarity_scorer.cpython-313.pyc
Module-3/Question-Generation/__pycache__/main.cpython-313.pyc
Module-3/Question-Generation/controllers/__pycache__/AnswerGeneration_controller.cpython-313.pyc
Module-3/Question-Generation/controllers/__pycache__/QuestionGeneration_controller.cpython-313.pyc
Module-3/Question-Generation/models/__pycache__/job_info.cpython-313.pyc
Module-3/Question-Generation/models/__pycache__/model_factory.cpython-313.pyc
Module-3/Question-Generation/routes/__pycache__/routes.cpython-313.pyc
Module-3/Question-Generation/utils/__pycache__/prompt_utils.cpython-313.pyc
Module-3/STT/__pycache__/main.cpython-313.pyc
Module-3/STT/controllers/__pycache__/stt_controller.cpython-313.pyc
Module-3/STT/services/__pycache__/audio_service.cpython-313.pyc
Module-3/STT/services/__pycache__/stt_service.cpython-313.pyc
Module-3/STT/utils/__pycache__/video_utils.cpython-313.pyc

/temp_video
*.webm
*.mp4
myenv
Module_1/faiss_store/
Module_1/faiss_store/candidate_clusters.pkl
logs/cheating